.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
}
.navLinkContainer {
  position: relative;
  // color: green;
}
.desktopMenu {
  // background-color: yellow;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  font-weight: 600;
}
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: blueviolet;
  transition: all 1s;
  width: 40vw;
  height: 100vh;
  // transform: translateX(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
